body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ring animation*/
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px greenyellow;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px orangered;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px blue;
    }
}

.ring:before{
    position: apsolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0, 0, 5px rgba(255, 255, 255, .3);
}

/* text 'loading' anima*/
span{
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text{
    50%{
        color: black;
    }
}